body{
    background-color: lightgray;
    margin: 0;

}
header{
    background-color: white;
    text-align: center;
    font-size: 40px;
    padding: 30px;
    width: auto;
    height: 50px;
}
div.container{
    width: 600px;
    margin: 20px 600px;
    background-color: white;
}
div.Post img{
    width: 100%;
    height: 100%;
}
div.top{
    display: inline-block;
}

